{% extends 'app/base.html' %}
{% load static %}

{% block title %}캘박 - Home{% endblock %}

{% block extra_css %}
  <!-- home 전용 스타일 -->
  <link rel="stylesheet" href="{% static 'css/style_ydy.css' %}" />
{% endblock %}

{% block content %}
  <div class="home__container">
    <h1 class="home__title">캘박</h1>
    <p class="home__subtitle">겹치지 않는 완벽한 일정 관리</p>

    <section class="home__card-list">
      <div class="home__card">
        <div class="home__card-icon">
          <img
            src="{% static 'img/check-mark.png' %}"
            alt="오늘 일정 아이콘"
            class="home__card-icon-img check-icon"
          />
        </div>
        <div class="home__card-content">
          <h2 class="home__card-title">오늘의 일정</h2>
          <p class="home__card-desc">오늘은 3개의 일정이 있어요!</p>
        </div>
      </div>

      <div class="home__card">
        <div class="home__card-icon">
          <img
            src="{% static 'img/dupli-icon.png' %}"
            alt="일정 겹침 아이콘"
            class="home__card-icon-img dupli-icon"
          />
        </div>
        <div class="home__card-content">
          <h2 class="home__card-title">일정 겹침 발생!</h2>
          <p class="home__card-desc">확인 및 수정이 필요해요</p>
        </div>
      </div>

      <div class="home__card">
        <div class="home__card-icon">
          <img
            src="{% static 'img/calendar.png' %}"
            alt="캘린더 아이콘"
            class="home__card-icon-img calendar-icon"
          />
        </div>
        <div class="home__card-content">
          <h2 class="home__card-title">내 캘린더</h2>
          <p class="home__card-desc">금주의 일정을 확인하고 관리하세요!</p>
        </div>
      </div>
    </section>

    <a href="{% url 'calendar' %}" class="home__btn-add">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
{% endblock %}
